# used to get dat from ENTSOE,create your own token https://transparencyplatform.zendesk.com/hc/en-us/articles/12845911031188-How-to-get-security-token
ENTSOE_API_KEY="<YOUR_API_KEY_HERE>"
# used to get production data from EnergyID, this is a personal API key of the user with access to the given record
# create your key in your account at https://app.energyid.eu/account/settings
ENERGY_ID_API_KEY="<YOUR_API_KEY_HERE>"
# this is the record ID of the EnergyID record you want to access, you can find it in the URL of the record, e.g. https://app.energyid.eu/record/<RECORD_ID_HERE>
ENERGY_ID_RECORD_ID="<YOUR_RECORD_ID_HERE>"
# configure your database connection here, e.g. for postgres: postgresql+psycopg://user:password@localhost/dbname
DB_URL="postgresql+psycopg://postgres@localhost/cofy"
# this is the token that you will need to access your Cofy API, set it to a secure random value in production
COFY_API_TOKEN="<YOUR_TOKEN_HERE>"
