name: test

on:
  workflow_call:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.21'
      - name: Install dependencies
        run: uv sync
      - name: Install poethepoet
        run: uv tool install poethepoet
      - name: Run tests
        run: poe test --cov-report=lcov:cov.info --cov-report=xml:cov.xml
      - name: Code Coverage Annotation
        uses: ggilder/codecoverage@v1
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          COVERAGE_FILE_PATH: "cov.info"
      - name: Code Coverage Report
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: cov.info
          min_coverage: 95
        # uses: irongut/CodeCoverageSummary@v1.3.0
        # with:
        #   filename: cov.xml
        #   badge: true
        #   fail_below_min: true
        #   format: markdown
        #   hide_branch_rate: false
        #   hide_complexity: true
        #   indicators: true
        #   thresholds: '90 95'