name: test

on:
  workflow_call:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.21'
      - name: Install dependencies
        run: uv sync
      - name: Run tests
        run: uv tool run pytest --tests=tests --cov=src --cov-report=lcov:cov.info
      - name: Code Coverage Annotation
          uses: ggilder/codecoverage@v1
          with:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
            COVERAGE_FILE_PATH: "cov.info"